.name-dom-sensor {
    position: absolute;
    bottom: -250px;
    right: -10%;
}

.name-dom-metalens-tester--first {
    position: absolute;
    top: 200px;
    left: 20%;
}

.name-dom-metalens-tester--second {
    position: absolute;
    top: 400px;
    left: 60%;
}

@media (max-width: 768px) {
    /* For mobile screens */
    .name-dom-sensor {
        margin-top: -48px; /* Remove the negative margin on mobile */
        margin-left: 0; /* Center-align if necessary */
        text-align: center;
    }

    .name-dom-metalens-tester--first {
        left: 0;
        top: 120px;
        font-size: 100px;
    }

    .name-dom-metalens-tester--second {
        left: 0;
        top: 240px;
        font-size: 100px;
    }
}
